@use '../utils/variables' as *;
@use '../utils/variables-fonts' as *;
@use '../utils/mixin' as *;
@use '../modules/global';

.primary-btn {
  background-color: #000;
  color: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 62px;
}

.secondary-btn {
  background-color: transparent;
  padding: 15px 80px;
  border-radius: 62px;
  border: 1px solid #0000001a;
}
